<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.project.main.mapper.ReserveMapper">

	<insert id="insertReservation">
	    INSERT INTO Reservation (reservation_id, user_id, schedule_id, reservation_status_id, total_amount)
	    VALUES (#{reservationId}, #{userId}, #{scheduleid}, #{reservationStatusId}, #{totalAmount})
	</insert>
	
	<select id="getSeatStatusId" resultType="java.lang.Integer">
	    SELECT seat_status_id
	    FROM SEAT_STATUS
	    WHERE schedule_id = #{scheduleid} AND seat_id = #{seatId}
	</select>

	
	<insert id="insertReservationSeat" parameterType="map" useGeneratedKeys="true">
	    INSERT INTO Reservation_Seat (reservation_seat_id, reservation_id, seat_status_id)
	    VALUES (reservation_seat_seq.NEXTVAL, #{reservationId}, #{seatStatusId})
	</insert>
	
	<update id="updateSeatStatusType" parameterType="int">
	    UPDATE Seat_Status
	    SET status_id = 3
	    WHERE seat_status_id = #{seatStatusId}
	</update>
	
	<delete id="deleteReservationSeats" parameterType="long">
	    DELETE FROM Reservation_Seat WHERE reservation_id = #{reservationId}
	</delete>
	
	<update id="updateSeatStatusTypeOn" parameterType="int">
	    UPDATE Seat_Status
	    SET status_id = 1
	    WHERE seat_status_id = #{seatStatusId}
	</update>
	
	<update id="updateReservation" parameterType="long">
	    UPDATE Reservation
	    SET reservation_status_id = 3
	    WHERE reservation_id  = #{reservationId}
	</update>
	
	
</mapper>






















