<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.project.main.mapper.ReviewMapper">
	<resultMap type="com.care.project.main.dto.MovieDTO"
		id="search">
		<id property="movieId" column="movie_id" />
		<result property="title" column="title" />
		<result property="entitle" column="entitle" />
		<result property="posterUrl" column="poster_url" />
		<result property="movieSynopsis" column="synopsis" />
		<result property="directorName" column="director" />
		<result property="actors" column="actors" />
		<result property="movieRank" column="movie_rank" />
		<result property="openDt" column="open_dt" />
	</resultMap>

	<resultMap type="java.util.HashMap" id="info">
		<id property="movieId" column="movie_id" />
		<result property="reviewNo" column="review_no" />
		<result property="content" column="content" />
		<result property="title" column="title" />
		<result property="entitle" column="entitle" />
		<result property="posterUrl" column="poster_url" />
		<result property="synopsis" column="synopsis" />
		<result property="director" column="director" />
		<result property="actors" column="actors" />
		<result property="movieRank" column="movie_rank" />
		<result property="openDt" column="open_dt" />
		<result property="userId" column="user_id" />
		<result property="reviewDate" column="review_date" />
	</resultMap>

	<resultMap type="java.util.HashMap" id="reserve">
		<id property="reservationId" column="reservation_id" />
		<result property="scheduleId" column="schedule_id" />
		<result property="movieId" column="movie_id" />
		<result property="screenId" column="screen_id" />
		<result property="userId" column="user_id" />
		<result property="seatId" column="seat_id" />
		<result property="reservationStatusId" column="reservation_status_id" />
		<result property="totalAmount" column="total_amount" />
		<result property="seatRow" column="seat_row" />
		<result property="seatNumber" column="seat_number" />
		<result property="screenName" column="screen_name" />
		<result property="startDateTime" column="start_dt" />
		<result property="endDateTime" column="end_dt" />
		<result property="title" column="title" />
		<result property="entitle" column="entitle" />
		<result property="posterUrl" column="poster_url" />
		<result property="synopsis" column="synopsis" />
		<result property="director" column="director" />
		<result property="actors" column="actors" />
		<result property="movieRank" column="movie_rank" />
		<result property="openDt" column="open_dt" />
		<result property="seatStatusId" column="seat_status_id" />
		<result property="statusId" column="status_id" />
	</resultMap>

	<select id="getList" resultMap="search">
		select * from movie <if test="id != null and id.trim() != ''"> where title = #{id} or director = #{id} or
			INSTR(',' || REPLACE(actors, ' ', '') || ',', ',' || #{id} || ',') > 0</if>
	</select>
	<select id="searchInfo" resultMap="info">
		select * from movie left join review using (movie_id) where movie_id=#{id}
	</select>
	<select id="getInfo" resultMap="info">
		select * from review inner join movie using (movie_id) where user_id=#{id}
		order by user_id desc offset #{start} rows fetch next 5 rows only
	</select>
	<select id="getCount">
		select count(*) from review inner join movie using (movie_id) where user_id=#{id}
	</select>
	<select id="getReserve" resultMap="reserve">
		select r.*, TO_CHAR(s.start_dt, 'YYYY-MM-DD HH24:MI:SS') AS start_dt,
		TO_CHAR(s.end_dt, 'YYYY-MM-DD HH24:MI:SS') AS end_dt,
		m.*, ss.*, st.*, sc.*
		from reservation r inner join schedule s on r.schedule_id = s.schedule_id
		inner join movie m on s.movie_id = m.movie_id
		inner join seat_status ss on s.schedule_id = ss.schedule_id
		inner join seat st on ss.seat_id = st.seat_id
		inner join screen sc on st.screen_id = sc.screen_id
		where r.user_id=#{id} order by s.start_dt desc offset #{start} rows fetch next 5 rows only
	</select>
	<select id="getReserveCount">
		select count(*) from reservation r inner join schedule s on r.schedule_id = s.schedule_id
		inner join movie m on s.movie_id = m.movie_id
		inner join seat_status ss on s.schedule_id = ss.schedule_id
		inner join seat st on ss.seat_id = st.seat_id
		inner join screen sc on
		st.screen_id = sc.screen_id where r.user_id=#{id}
	</select>
	<select id="reviewCheck">
		select count(*) from review inner join movie using (movie_id) where user_id=#{id} and movie_id=#{movie_id}
	</select>
	<insert id="writeReview">
		insert into review(review_no,content,user_id,movie_id) values(review_sequence.nextval,#{content},#{userId},#{movieId})
	</insert>
	<delete id="delReserve">
		delete from reservation where reservation_id=#{id}
	</delete>
</mapper>